# see https://editorconfig.org

# top-most file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
indent_size = 4

[*.py]
quote_type = double

[*.sh]
shell_variant = bash
binary_next_line = true   # like -bn
switch_case_indent = true # like -ci
space_redirects = true
